.my-SCWidget {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  color: #fafafa;
}

#canvas {
  position: relative;
  left: 10px;
  top: 10px;
  width: 100%;
  height: 100%;
}

audio {
  position: relative;
  left: 10px;
  bottom: 10px;
  width: calc(100% - 20px);
}
